<html>
<head>
    {% block title %}
        <title>Auction</title>
    {% endblock %}
</head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/css/bootstrap-datetimepicker.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
<script src="{% static 'jquery-1.11.3.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'moment.js' %}"></script>
<script src="{% static 'validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'validation/additional-methods.min.js' %}"></script>
<script src="{% static 'datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'index.js' %}"></script>

<body>

<div class="col-md-12">
    <div class="container" style="width: 900px">
        <div class="well col-md-12">
            <div class="header text-center">
                <a href="/"><img src="{% static 'img/head.jpg' %}" height="200px"></a>
            </div>
        </div>
        <div class="well col-md-12">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>


</body>
</html>
